.Registration {
    text-align: center;
    margin: 80px 0px;
}

.Registration form {
    display: inline-block;
    border: 2px solid;
    margin: 40px 200px;
    padding: 20px;
    width: 25%;
    text-align: left;
    background-color: white;
}

.Registration input {
    float: right;
    padding-right: 100px;
    margin-right: 40px;
}

.Registration button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    padding: 10px;
}

.Registration button:hover {
    background-color: #45a049;
}   
